body {
    background-color:white;
    padding:20px;
}
.page-header{
    color: dimgray;
    text-align:center;
    border-bottom:none;
}
.container{
    font-size:75px;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
nav#navvy.navbar{
    border:none;
    background-color:white; 
}
#navvy a{
    color:lightgray;
}

#navvy a:hover{
    background:none;
    color:aquamarine;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse{
    text-align:center;
}

button.navbar-toggle{
    border:1px solid darkgray;
}
span.icon-bar{
    border:1px solid darkgray;
}

#main{
    text-align:center;
    
    padding: 20px;
}

.caption{
    color:dimgray;
}

#button{
    background-color:white;
    color:lightpink;
}

.mediaButtons{
    background-color:white;
    text-align:center;
}

.btn{
    background-color:white;
}
#atBottom{
    text-align:center;
    font-size: 12pt;
}
#copyright{
    padding-top:40px;
}